services:
  postgres:
    image: postgres:16
    container_name: expense-tracker-postgres-local
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: expense_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: